#editor {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 200px;
  display: none;
}

.controls {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.select-input{
  height: 30px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #64CEAA;
}
form{
  display: inline-block;
}
#input{
  height: 24px;
  color: #154349;
  border-radius: 5px;
  border: 2px solid #64CEAA;
  display:inline-block;
  padding:5px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 11;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #64CEAA;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 85px;
  color: gray;
  /* display: none; */
}


/*Test*/
.userlistCon {
  /* default height */
  min-height: 579px;
  max-width: 200px;
  background: #ebebeb; /* Old browsers */
  background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebebeb), color-stop(93%,#eaeaea), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(to right, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* W3C */
  color: #404040;
}

.userlistCon {
    margin-top: -113px;
}

.userlistCon {
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: normal;
  top: 0px;
  display: block;
  position: relative;
}

.userlist-heading {
  margin: 20px 10px 0 10px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #c9c9c9;
}

.userlist-users {
  /* position: absolute; */
  left: 15px;
  right: 15px;
  top: 38px;
  bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.userlist-user {
  position: relative;
  margin: 3px 10px;
  height: 32px;
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 5px;
}

.userlist-color-indicator {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input.userlist-name-input {
  position: absolute;
  left: 38px;
  top: 0;
  width: 105px;
  height: 20px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
}

.userlist-name-hint {
  position: absolute;
  left: 38px;
  top: 23px;
  width: 130px; /* I'd rather it clip than wrap. */
  font-size: 9px;
  line-height: 11px;
}

.userlist-name {
  position: absolute;
  top: 2px;
  left: 38px;
  width: 95px;
  font-size: 13px;
}

#my-pads {
    position: absolute;
    background-image: url(https://www.firepad.io/images/my_pads.png);
    width: 120px;
    height: 36px;
    right: 230px;
    top: 27px;
    cursor: pointer;
    cursor: hand;
}

body {
    margin: 8px 0px;
}


body {
    margin: 8px 0px;
}

